body {
    overflow-x: hidden;
    font-family: "Roboto slab", sans-serif;
}

.text-muted {
    color: #777777;
    font-size: 20px;
}

.text-primary {
    color: #DC143c;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

/*Team description below the section subtitle*/
/*Not currently being used*/
/* p.large {
    font-size: 26px;
} */

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #DC143c;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #DC143c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Kadwa, sans-serif;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #F7F7F7;
}

.bg-darkest-gray {
    background-color: #222222;
}

/*This does not look like it's in use*/
.btn-primary {
    border-color: #DC143c;
    text-transform: uppercase;
    font-family: Kadwa, sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #DC143c;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #FFFFFF;
    color: #FFFFFF;
    background-color: #DC143c;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #DC143c;
    background-color: #DC143c;
}

.btn-primary .badge {
    color: #DC143c;
    background-color: #FFFFFF;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #DC143c;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Kadwa, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #DC143c;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #FFFFFF;
    color: #FFFFFF;
    background-color: #DC143c;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #DC143c;
    background-color: #DC143c;
}

.btn-xl .badge {
    color: #DC143c;
    background-color: #FFFFFF;
}

.navbar-default {
    border-color: transparent;
    background-color: #222222;
}

/*Header company name*/
/*This will ultimately be replaced by a logo image*/
.navbar-default .navbar-brand {
    font-family: Kadwa, sans-serif;
    weight: 000;
    font-weight: 700;
    color: #DC143c;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #FFFFFF;
}

.navbar-brand>img {
    height: 50px;
    max-width: 250px;
    margin: -15px;
}

@media(min-width:768px) {
    .navbar-brand>img {
        height: 50px;
        max-width: 300px;
        margin: -15px;
    }
}

@media(min-width:992px) {
    .navbar-brand>img {
        height: 50px;
        max-width: 400px;
        margin: -15px;
    }
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #DC143c;
    background-color: #DC143c;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DC143c;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Kadwa,sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #DC143c;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #FFFFFF;
    background-color: #DC143c;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #FFFFFF;
    background-color: #DC143c;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 3em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.login {
  color: #FFFFFF;
  background-color: #DC143C;
}

.login:hover {
  color: #DC143C;
  background-color: #FFFFFF;
}

/* .login:focus,
.login:active, */

header {
    text-align: center;
    color: #FFFFFF;
    background-attachment: scroll;
    background-image: url(../img/header-bg.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

/*Hero title introduction*/
header .intro-text .intro-lead-in {
    margin-bottom: 75px;
    font-family: Kadwa, sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 22px;
}

/*Hero subtitle w/ slogan*/
header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Kadwa, sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 75px;
        font-family: Kadwa, sans-serif;
        font-size: 50px;
        /* font-style: italic; */
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: Kadwa, sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}

section {
    padding: 100px 0;
}

/*Section heading*/
/*This is for each of the sections within the webiste*/
section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: Kadwa, sans-serif;
    font-size: 40px;
    font-weight: 700;
}

/*Section subtitles*/
/*The little descriptor for each page*/
section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: Martel, sans-serif;
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}

.description-item {
    padding-bottom: 30px;
}

.process-heading {
    margin: 15px 0;
    text-transform: none;
}

.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.flexbox-center {
  justify-content: center;
}

.team-member {
    margin-bottom: 25px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #FFFFFF;
    max-width: 280px;
}

.team-member p {
    margin-top: 0;
}
.team-member h3 {
    text-transform: none;
    font-weight: 600;
    color: #333;
}

.team-member h4 {
    font-size: 20px;
    text-transform: none;
    font-weight: 400;
    color: #777777;
    margin-bottom: 0px;
}

.team-member h4 a {
    text-transform: none;
}

.team-member h5 {
    font-size: 14px;
    text-transform: none;
    font-style: italic;
    font-weight: 200;
    color: #777777;
    margin-bottom: 15px
}

.team-member .report  {
    margin-top: 0px;
}

.team-member h5 a {
    text-transform: none;
}

.team-member ul {
    list-style: none;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
}

.team-bio {
    padding: 15px;
}

@media(min-width:992px) {
    aside.clients img {
        margin: 50px auto;
    }
}

aside .heading {
    text-transform: none;
    color: #777777;
    margin-top: 20px;
    margin-bottom: -40px;
}

footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    /*This does not look like it's in use*/
    text-transform: uppercase;
    text-transform: none;
    font-family: "Roboto slab", sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    /*This does not look like it's in use*/
    text-transform: uppercase;
    text-transform: none;
    font-family: "Roboto slab", sans-serif;
    line-height: 40px;
}

ul.social-buttons {
    margin-top: 20px;
    margin-bottom: 10px;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #FFFFFF;
    background-color: #222222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #DC143c;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #DC143c;
}

::selection {
    text-shadow: none;
    background: #DC143c;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #DC143c;
}-
