.navbar {
  background-color: #DC143C;
  border-color: #DC143C;
  border-radius: 0;
  margin-bottom: 0;
  padding: 15px;
}

a.navbar-brand {
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}

h1 {
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 40px;
  text-align: center;
}

h2 {
  font-family: sans-serif;
  margin-bottom: 30px;
  margin-top: 40px;
}

h3 {
  font-family: sans-serif;
  margin-top: 26px;
  text-align: center;
}

h4 {
  font-family: sans-serif;
  margin-top: 20px;
}

li {
  margin: 4px;
}

.directory-container {
  padding: 25px;
}

a.directory-link {
color: #DC143C;
font-family: sans-serif;
text-decoration: none;
font-size: 20px;
font-weight: bold;
margin: 4px;
}

.disclosure-container {
  bottom: 0px;
  padding: 25px;
  position: fixed;
}

a.disclosure-link {
  color: #DC143C;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 4px;
}

.feature-intro {
  font-family: sans-serif;
  font-size: 20px;
  margin-top: 16px;
  padding-left: 30px;
  padding-right: 30px;
}

.sign-up {
  margin-top: 50px;
  text-align: center;
}

.btn-lg {
  background-color: #DC143C;
  border-color: #DC143C;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
  padding: 20px;
}

.content {
  font-family: sans-serif;
  font-size: 18px;
}

.glyphicon-info-sign {
  color: #DC143C;
}

.bucket {
  margin-bottom: 10px;
}

.form-control {
  margin-bottom: 2px;
  width: 220px;
}

.btn {
  margin: 2px;
}

.btn-primary {
  margin-top: 10px;
}
