<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Heupr</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ .domain }}/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="{{ .domain }}/css/bootstrap-select.min.css" rel="stylesheet"/>
    <link href="{{ .domain }}/css/heupr.css" rel="stylesheet" media="screen">

    <script src="{{ .domain }}/js/jquery.js"></script>
    <script src="{{ .domain }}/js/bootstrap.js"></script>
    <script src="{{ .domain }}/js/bootstrap-select.js"></script>
  </head>
</html>

<nav class="navbar">
  <a class="navbar-brand" href="/">Heupr</a>
</nav>

<div>
  <div class="row">
    <div class="col-sm-2">
      {{ template "panel" . }}
    </div>
    <div class="col-sm-8">
      {{ template "body" . }}
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>
