{{ define "panel" }}

{{ end }}

{{ define "body" }}
  <!-- NOTE: onsubmit has been removed to allow the page to direct to the next handler -->
  <form role="form" id="label-settings" action="/complete" method="POST">
    {{ .csrfField }}
  <!-- NOTE: Removing for the labelmaker beta -->
  <!-- <script>
  function saveSettings() {
    // NOTE: This is a crude check to ensure unique bucket names are used.
    var names = [];
    $(".col-sm-4.bucket").each(function() {
      names.push($(this).find(".form-control").val())
    });
    names.sort();
    var filtered = names.filter( function(v, i, a) {
      return !i || v !== a[i-1];
    });
    if (names.length != filtered.length) {
      alert("Please enter unique bucket descriptions");
      return;
    }
  }
  </script> -->
  <script>
  $(function() {
    $('.selectpicker.show-tick').on('loaded.bs.select', function() {
      var list = $(this).find("option")
      var items = [];
      for (i = 0; i < list.length; i++) {
          if (list[i].innerHTML.includes("✔")) {
            items.push(list[i].value)
            str = list[i].value
            list[i].innerHTML = str.replace("✔", "")
          }
      }
      $(this).selectpicker('val', items);
      $(".selectpicker.show-tick").selectpicker("refresh")
      $(".selectpicker.show-tick").selectpicker("render")
    });
  });
  </script>
    <h2>Label options</h2>
    <hr>
    <h4>
      <small class="hidden">
        <span class="glyphicon glyphicon-info-sign" title="Applied to all newly raised issues"></span>
      </small> <!--Default label(s)-->
    </h4>
    <div class="row" id="bucket-default">
      <div class="col-sm-4">
        <div class="hidden">
          <select class="selectpicker show-tick" name="typedefault" data-live-search="true" multiple="true" title="Select label(s)...">
            {{ range $label := .storage.Buckets.typedefault }}
              <option value="{{ $label.Name }}">{{ $label.Name }} {{ if $label.Selected }}&#10004;{{ end }}</option>
            {{ end }}
          </select>
        </div>
      </div>
    </div>
    <h4>
      <small>
        <span class="glyphicon glyphicon-info-sign" title="Label each new issue by type"></span>
      </small> Classification labels
    </h4>
    <div class="row" id="bucket-type">
      <div class="col-sm-4 bucket">
        <div>
          <select class="selectpicker show-tick" name="typebug" data-live-search="true" multiple data-max-options="1" title="Select bug label...">
            {{ range $label := .storage.Buckets.typebug }}
              <option value="{{ $label.Name }}">{{ $label.Name }} {{ if $label.Selected }}&#10004;{{ end }}</option>
            {{ end }}
          </select>
        </div>
        <div>
          <select class="selectpicker show-tick" name="typefeature" data-live-search="true" multiple data-max-options="1" title="Select feature label...">
            {{ range $label := .storage.Buckets.typefeature }}
              <option value="{{ $label.Name }}">{{ $label.Name }} {{ if $label.Selected }}&#10004;{{ end }}</option>
            {{ end }}
          </select>
        </div>
        <div>
          <select class="selectpicker show-tick" name="typeimprovement" data-live-search="true" multiple data-max-options="1" title="Select improvement label...">
            {{ range $label := .storage.Buckets.typeimprovement }}
              <option value="{{ $label.Name }}">{{ $label.Name }} {{ if $label.Selected }}&#10004;{{ end }}</option>
            {{ end }}
          </select>
        </div>
      </div>
    </div>
    <br>
    <input type="submit" class="btn btn-primary" value="Save">
  </form>
{{ end }}
