{{ define "panel" }}

{{ end }}

{{ define "body" }}
  <!-- NOTE: onsubmit has been removed to allow the page to direct to the next handler -->
  <form role="form" id="label-settings" action="/complete" method="POST">
    {{ .csrfField }}
  <!-- NOTE: Removing for the labelmaker beta -->
  <!-- <script>
  function saveSettings() {
    // NOTE: This is a crude check to ensure unique bucket names are used.
    var names = [];
    $(".col-sm-4.bucket").each(function() {
      names.push($(this).find(".form-control").val())
    });
    names.sort();
    var filtered = names.filter( function(v, i, a) {
      return !i || v !== a[i-1];
    });
    if (names.length != filtered.length) {
      alert("Please enter unique bucket descriptions");
      return;
    }
  }
  </script> -->
    <h2>Label options</h2>
    <hr>
    <h4>
      <small>
        <span class="glyphicon glyphicon-info-sign" title="Applied to all newly raised issues"></span>
      </small> Default label(s)
    </h4>
    <div class="row" id="bucket-default">
      <div class="col-sm-4">
        <div>
          <select class="selectpicker show-tick" name="default-labels" data-live-search="true" multiple="true" title="Select label(s)...">
            {{ range $label := .storage.Buckets.typedefault }}
              <option value="{{ $label.Name }}">{{ $label.Name }} {{ if $label.Selected }}selected{{ end }}</option>
            {{ end }}
          </select>
        </div>
      </div>
    </div>
    <h4>
      <small>
        <span class="glyphicon glyphicon-info-sign" title="Label each new issue by type"></span>
      </small> Classification labels
    </h4>
    <div class="row" id="bucket-type">
      <div class="col-sm-4 bucket">
        <div>
          <select class="selectpicker labels" name="type-bug" data-live-search="true" title="Select label...">
            {{ range $label := .storage.Buckets.typebug }}
              <option value="{{ $label.Name }}">{{ $label.Name }} {{ if $label.Selected }}selected{{ end }}</option>
            {{ end }}
          </select>
        </div>
        <div>
          <select class="selectpicker labels" name="type-improvement" data-live-search="true" title="Select label...">
            {{ range $label := .storage.Buckets.typeimprovement }}
              <option value="{{ $label.Name }}">{{ $label.Name }} {{ if $label.Selected }}selected{{ end }}</option>
            {{ end }}
          </select>
        </div>
        <div>
          <select class="selectpicker labels" name="type-feature" data-live-search="true" title="Select label...">
            {{ range $label := .storage.Buckets.typefeature }}
              <option value="{{ $label.Name }}">{{ $label.Name }} {{ if $label.Selected }}selected{{ end }}</option>
            {{ end }}
          </select>
        </div>
      </div>
    </div>
    <br>
    <input type="submit" class="btn btn-primary" value="Save">
  </form>
{{ end }}
